attrs==20.3.0
boto3==1.17.17
botocore==1.20.17
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
ecdsa==0.14.1
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.7.3
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
PyJWT==2.0.1
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
python-jose==3.2.0
requests==2.25.1
rsa==4.7.2
s3transfer==0.3.4
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.3
Werkzeug==1.0.1
zipp==3.4.1
