{% extends "layout.html" %}
{% block title %} <title>Home</title> {% endblock %}

{% block body %}
    <div>
    {% with messages = get_flashed_messages() %}
        {% for error in messages %}
            <div class="alert alert-danger "><strong>Error: {{ error }}</strong></div>
        {% endfor %}
    {% endwith %}
    </div>
    <div class="center-div jumbotron">
        <div class="box">
            <div class="container d-flex justify-content-center bg-light">
                <h1 class="display-4">
                    Welcome to the home page, please enter a url to shorten
                </h1>
            </div>
            <div class="container d-flex justify-content-center bg-light">
                <form action="{{ url_for('home') }}" method="post">
                    <label class="align-middle" for="basic-url">URL to shorten</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">

            <span class="input-group-text" id="basic-addon3">
              https://some.long.url/sha256ish
            </span>
                        </div>
                        <label for="basic-url"></label>
                        <input
                                type="url"
                                id="basic-url"
                                class="form-control"
                                name="basic-url"
                                aria-describedby="basic-addon3"
                                value="https://www.google.com"
                        />
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-success">
                            Shorten!
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        {% if link %}
            <div class="alert alert-success " role="alert">
                shortened link! <a href="{{ link }}" class="alert-link">{{ link }}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
